
body
{
    background-color: white;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    /*font-family: 'Source Serif Pro', Georgia, Times, 'Times New Roman', serif;*/
    font-size: 18px;
    line-height: 1.4em;
}

.header
{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;

    width: 100%;
    height: 60px;
    padding: 1em;
    padding-bottom: 1em;

    border-bottom: 1px dashed gainsboro;
    background: white;
}

.logo
{
    font-family: Vollkorn;
    font-size: 48px;
    font-weight: bold;
    display: inline-block;
    padding-top: 20px;

    color: black;
}

.logo-link
{
    text-decoration: none;
}

.content
{
    margin-top: 100px;
    padding: 1em 1em 5em; /* bottom padding for footer */
}


.content li
{
    list-style-type: disc;
}

.content ul
{
    padding-left: 10px;
}

.short li
{
	padding: 0px;
	margin:0;
}

.box
{
	/*float: left;*/
	/*width: 300px;*/
	border: 0px dashed gainsboro;
	font-family: 'Courier New';
}

.box h3
{
	font-size: 20px;
    font-weight: bold;
    padding: .1em .4em;
    border-bottom: 1px dashed gainsboro;
}
